.home{
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 700px;
    position: relative;
    overflow: hidden;
}

.home .titles {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: absolute;
    padding:0 80px;
    top: 0;
    background-color: rgb(0,0,0,0.5);
}

.home .titles-wrap {
    margin-top: 300px;
}

.home h1 {
    color: #ffffff;
    width: 100%;
    display: block;
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.7;
}

.home h1 span {
    color: #c9a04f;
}

.home h2{
    color: #ffffff;
    display: block;
    font-size: 27px;
    line-height: 1.7;   
}

.home h2 span {
    color: #ffffff;

}

.home p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    max-width: 450px;
}

.btn {
    color: #ffffff;
    background-color: #c9a04f;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 40px;
    border-radius: 0;
    position: relative;
    display: inline-block;
    border: 2px solid #c9a04f;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
    
}

@media only screen and (max-width: 768px){
    .home .titles {
        padding: 0 40px;
        width: 100%;
    }
    .home h2,
    .home p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .home h2,
    .home p {
        font-size: 18px;
    }

    .home h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 350px){
    .home h2, 
    .home p {
        font-size: 16px;
    }

    .home h1 {
        font-size: 28px;

    }
}